*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scrollbar-color: #777 #0f0f0f;
    scrollbar-width: auto; 
}

a {
    cursor: pointer;
    text-decoration: none;
    color:#333;
}

body{
    font-family:Arial, sans-serif;
    background:#f1f3fc;
    color:#333;
}

.layout{
    display:flex;
}

/* SIDEBAR */
.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:250px;
    height:100vh;
    background:#020b23;
    color:white;
    padding:30px 30px 40px 30px;
    overflow-y:auto;
}

.logo{
    font-size:24px;
    font-weight:bold;
    margin-bottom:40px;
}

.menu{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.menu a{
    text-decoration:none;
    font-size:14px;
    color:#9ca3af;
    transition:0.2s;
}

.menu a:hover{
    color:white;
}

.menu a.active{
    color:white;
}

.menu a > i.bi {
    margin-right:10px;
}

/* CONTENT */

.content{
    margin-left:250px;
    padding:30px;
    width:100%;
}

.page-header{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:25px;
}

.page-header h1{
    font-size:20px;
    margin-bottom:0px;
    color:#333;
    letter-spacing: 0em;
}

.page-header-icon{
    font-size:28px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#666;
}

.page-header-content p{
    margin-top:3px;
    color:#666;
    font-size:13px;
}

.card{
    background:white;
    border-radius:8px;
    padding:20px;
    box-shadow:0 2px 5px rgba(0,0,0,0.05);
}

.dashboard-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
    margin-top:30px;
}

.dashboard-card{
    background:white;
    border-radius:12px;
    padding:24px;
    display:flex;
    align-items:center;
    gap:18px;
    box-shadow:0 2px 5px rgba(0,0,0,0.05);
}

.card-icon{
    width:60px;
    height:60px;
    border-radius:16px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:26px;
    color:white;
}

.card-icon.blue{
    background:#2563eb;
}

.card-icon.purple{
    background:#7c3aed;
}

.card-icon.green{
    background:#16a34a;
}

.card-icon.orange{
    background:#ea580c;
}

.card-info{
    display:flex;
    flex-direction:column;
}

.card-title{
    font-size:14px;
    color:#6b7280;
    margin-bottom:6px;
}

.card-info h2{
    font-size:22px;
    margin-bottom:4px;
}

.card-info p{
    font-size:14px;
    color:#6b7280;
}

.section{
    margin-top:35px;
    background:white;
    border-radius:12px;
    padding:25px;
    box-shadow:0 2px 5px rgba(0,0,0,0.05);
}

.section-header{
    margin-bottom:20px;
}

.section-header h3{
    font-size:20px;
}

.system-info{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.info-row{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding-bottom:14px;
    border-bottom:1px solid #e5e7eb;
}

.info-row:last-child{
    border-bottom:none;
    padding-bottom:0;
}

.info-row span{
    color:#6b7280;
}

.info-row strong{
    color:#111827;
}

.info-label{
    display:flex;
    align-items:center;
    gap:10px;
}

.info-label i{
    font-size:18px;
    color:#2563eb;
}

.table-card{
    background:white;
    border-radius:10px;
    padding:25px;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.table{
    width:100%;
    border-collapse:collapse;
}

.table th{
    text-align:left;
    padding:16px;
    border-bottom:1px solid #e5e7eb;
    color:#6b7280;
    font-size:14px;
    font-weight:600;
}

.table td{
    padding:18px 16px;
    border-bottom:1px solid #eee;
}

.table tr:last-child td{
    border-bottom:none;
}

.collection-name{
    display:flex;
    align-items:center;
    gap:10px;
    font-weight:600;
}

.collection-name i{
    color:#2563eb;
}

.badge{
    display:inline-block;
    padding:6px 12px;
    border-radius:999px;
    font-size:13px;
    font-weight:600;
}

.badge.success{
    background:#dcfce7;
    color:#166534;
}

.distance-badge{
    display:inline-block;
    background:#eff6ff;
    color:#1d4ed8;
    padding:6px 12px;
    border-radius:999px;
    font-size:13px;
    font-weight:600;
}

.badge.warning{
    background:#fef3c7;
    color:#92400e;
}

.badge.danger{
    background:#fee2e2;
    color:#991b1b;
}

.badge.gray{
    background:#e5e7eb;
    color:#374151;
}

.filter-form{
    display:flex;
    gap:12px;
}

.filter-form select{
    padding:12px;
    border:1px solid #d1d5db;
    border-radius:10px;
    min-width:250px;
}

.filter-form button{
    border:none;
    background:#2563eb;
    color:white;
    padding:12px 18px;
    border-radius:8px;
    cursor:pointer;
}

.mt-20{
    margin-top:20px;
}

pre{
    background:#f9fafb;
    padding:14px;
    border-radius:10px;
    font-size:13px;
    overflow:auto;
}

.payload-json{
    background:#eee;
    padding:14px;
    border-radius:10px;
    font-size:13px;

    white-space:pre-wrap;
    word-break:break-word;

    overflow:auto;
}

.vector-box{
    margin-top:12px;
}


.vector-json{
    background:#050b16;
    color:#22c55e;
    padding:16px;
    border-radius:8px;
    max-height:300px;
    overflow:auto;
    font-size:12px;
    margin-top:10px;
}

.vector-section{
    margin-top:16px;
}

.vector-dimension{
    margin-bottom:10px;
}

.vector-section summary {
    font-size:13px;
    cursor: pointer;
}

.form-group{
    margin-bottom:24px;
}

.form-group label{
    display:block;
    margin-bottom:10px;
    font-weight:600;
}

.form-control{
    width:100%;
    padding:14px;
    border:1px solid #d1d5db;
    border-radius:12px;
    font-size:15px;
}

textarea.form-control{
    resize:vertical;
}

.btn-primary{
    border:none;
    background:#2563eb;
    color:white;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    text-decoration: none;
    white-space:nowrap;
}

.btn-danger{
    background:#dc2626 !important;
    white-space:nowrap;
}

.btn-disabled{
    background:#999 !important;
    white-space:nowrap;
    cursor:not-allowed !important;
}

.page-header-flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.code-textarea{
    font-family:monospace;
    font-size:14px;
}

.inline-form{
    display:flex;
    gap:10px;
    align-items:center;
}

.schema-select{
    padding:8px 10px;
    border:1px solid #d1d5db;
    border-radius:8px;
}

.btn-small{
    border:none;
    background:#2563eb;
    color:white;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer;
    font-size:13px;
}

.action-cell{
    text-align:right;
}

.action-cell .inline-form{
    justify-content:flex-end;
}

.hidden {
    display: none;
}

.remove-vector {
    color:#666;
    float:right;
    margin-top:0px;
    font-size: 13px;
}

/******************************************
CHUNK INSPECTOR 
********************************************/

    .rag-toolbar{
    display:flex;
    gap:20px;
    margin-bottom:24px;
    padding:20px;
    background:#fff;
    border-radius:20px;
}

.toolbar-group{
    display:flex;
    flex-direction:column;
    gap:8px;
    min-width:200px;
}

.toolbar-group label{
    font-size:13px;
    font-weight:600;
    color:#6b7280;
}

.toolbar-group select,
.toolbar-group input{
    height:44px;
    border:none;
    background:#f3f4f6;
    border-radius:12px;
    padding:0 14px;
    font-size:14px;
}

.search-box{
    flex:1;
}

.rag-layout{
    display:grid;
    grid-template-columns:380px 1fr;
    gap:24px;
}

.chunk-panel,
.inspector-panel{
    background:#fff;
    border-radius:24px;
    padding:24px;
}

.panel-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.chunk-count{
    font-size:13px;
    color:#6b7280;
}

.chunk-card{
    border:1px solid #e5e7eb;
    border-radius:18px;
    padding:18px;
    margin-bottom:16px;
    cursor:pointer;
    transition:.2s;
    display:block;
    text-decoration:none;
    color:inherit;
}

.chunk-card:hover{
    border-color:#2563eb;
}

.chunk-card.active{
    border-color:#2563eb;
    background:#eff6ff;
}

.chunk-card-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:12px;
}

.chunk-title{
    font-weight:600;
    display:flex;
    align-items:center;
    gap:8px;
}

.similarity-score{
    background:#dcfce7;
    color:#166534;
    padding:4px 10px;
    border-radius:999px;
    font-size:12px;
    font-weight:700;
}

.chunk-meta{
    display:flex;
    gap:18px;
    margin-bottom:14px;
    font-size:13px;
    color:#6b7280;
}

.chunk-preview{
    font-size:14px;
    line-height:1.7;
    color:#374151;
}

.inspector-header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    margin-bottom:24px;
}

.inspector-header h2{
    margin-bottom:4px;
}

.inspector-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:16px;
    margin-bottom:24px;
}

.meta-box{
    background:#eaeef1;
    border-radius:16px;
    padding:16px;
}

.meta-box label{
    display:block;
    font-size:12px;
    color:#6b7280;
    margin-bottom:6px;
}

.meta-box strong{
    font-size:15px;
}

.content-card,
.related-card{
    border:1px solid #e5e7eb;
    border-radius:20px;
    padding:20px;
    margin-bottom:20px;
}

.content-header{
    display:flex;
    align-items:center;
    gap:10px;
    font-weight:600;
    margin-bottom:16px;
}

.chunk-content{
    white-space:pre-line;
    line-height:1.8;
    color:#374151;
}

.related-list{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.related-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:14px 16px;
    border-radius:14px;
    background:#f9fafb;
}


.chunk-card:focus,
.chunk-card:active,
.chunk-card:visited{
    text-decoration:none;
    color:inherit;
    outline:none;
}

.rag-search-form{
    display:flex;
    gap:20px;
    width:100%;
    align-items:flex-end;
}

.toolbar-button{
    display:flex;
    align-items:flex-end;
}

.toolbar-button .btn-primary{
    height:45px;
    padding:0 24px;
    white-space:nowrap;
}

.pagination{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin-top:24px;
    flex-wrap:wrap;
}

.pagination-item{
    width:30px;
    height:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:6px;
    background:#e5e7eb;
    color:#374151;
    text-decoration:none;
    transition:.2s;
}

.pagination-item:hover{
    background:#d1d5db;
}

.pagination-item.active{
    background:#ef4444;
    color:#fff;
}

.pagination-dots{
    display:flex;
    align-items:center;
    color:#9ca3af;
    font-weight:700;
    padding:0 4px;
}